Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

In [2]:
import pandas as pd

In [4]:
df = pd.read_excel('Random Sales Data.xlsx')

# head() displays the first five rows of a dataframe
# by default.
df.head()

,Sales Representative,Location,Region,Customer,Order Date,Product,Quantity,Price,Total Sale Amount
0,Sara Snyder,Massachusetts,East,Raymond Young,2016-01-01 00:00:00,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",6,12.42,74.52
1,Sara Snyder,New York,East,Helen Dean,2016-01-01 00:00:00,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",7,12.42,86.94
2,Diane Gonzalez,Washington,West,Shirley Chavez,2016-01-01 00:00:00,Acme Hot Forged Carbon Steel Scissors with Nic...,2,16.32,32.64
3,Sara Snyder,New Jersey,East,Brian Ryan,2016-01-01 00:00:00,Bretford CR4500 Series Slim Rectangular Table,1,12.42,12.42
4,Sara Snyder,New Jersey,East,Benjamin Willis,2016-01-01 00:00:00,Eldon Fold 'N Roll Cart System,3,17.83,53.49

What if the first ten rows of the dataframe needed to be outputted?

Assign 10 to "n" parameter since its default value is five.

In [5]:
df.head(n=10)

,Sales Representative,Location,Region,Customer,Order Date,Product,Quantity,Price,Total Sale Amount
0,Sara Snyder,Massachusetts,East,Raymond Young,2016-01-01 00:00:00,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",6,12.42,74.52
1,Sara Snyder,New York,East,Helen Dean,2016-01-01 00:00:00,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",7,12.42,86.94
2,Diane Gonzalez,Washington,West,Shirley Chavez,2016-01-01 00:00:00,Acme Hot Forged Carbon Steel Scissors with Nic...,2,16.32,32.64
3,Sara Snyder,New Jersey,East,Brian Ryan,2016-01-01 00:00:00,Bretford CR4500 Series Slim Rectangular Table,1,12.42,12.42
4,Sara Snyder,New Jersey,East,Benjamin Willis,2016-01-01 00:00:00,Eldon Fold 'N Roll Cart System,3,17.83,53.49
5,Patrick Graham,Washington,West,Annie Jenkins,2016-01-01 00:00:00,Eldon Expressions Wood and Plastic Desk Access...,6,53.35,320.10
6,Sara Snyder,New York,East,Christina Little,2016-01-01 00:00:00,Newell 322,6,53.35,320.10
7,Patrick Graham,Washington,West,NaN,2016-01-01 00:00:00,Mitel 5320 IP Phone VoIP phone,9,16.32,146.88
8,Randy Watson,New York,East,Ruby Matthews,2016-01-02 00:00:00,DXL Angle-View Binders with Locking Rings by S...,6,17.83,106.98
9,Sara Snyder,New York,East,Christopher Oliver,2016-01-02 00:00:00,Belkin F5C206VTEL 6 Outlet Surge,8,12.42,99.36

To view the entire dataframe.

In [6]:
df

,Sales Representative,Location,Region,Customer,Order Date,Product,Quantity,Price,Total Sale Amount
0,Sara Snyder,Massachusetts,East,Raymond Young,2016-01-01 00:00:00,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",6,12.42,74.52
1,Sara Snyder,New York,East,Helen Dean,2016-01-01 00:00:00,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",7,12.42,86.94
2,Diane Gonzalez,Washington,West,Shirley Chavez,2016-01-01 00:00:00,Acme Hot Forged Carbon Steel Scissors with Nic...,2,16.32,32.64
3,Sara Snyder,New Jersey,East,Brian Ryan,2016-01-01 00:00:00,Bretford CR4500 Series Slim Rectangular Table,1,12.42,12.42
4,Sara Snyder,New Jersey,East,Benjamin Willis,2016-01-01 00:00:00,Eldon Fold 'N Roll Cart System,3,17.83,53.49
...,...,...,...,...,...,...,...,...,...
5679,Sara Snyder,Massachusetts,East,Andrew Howard,2016-12-31 00:00:00,Xerox 1889,1,12.42,12.42
5680,Randy Watson,Massachusetts,East,Shirley Rivera,2016-12-31 00:00:00,Avery Heavy-Duty EZD View Binder with Locking ...,2,53.35,106.70
5681,Diane Gonzalez,Washington,West,Ruby Gonzales,2016-12-31 00:00:00,Xerox 232,3,12.42,37.26
5682,Sara Snyder,New York,East,Eric Stanley,2016-12-31 00:00:00,Xerox 1990,10,53.35,533.50
5683,Patrick Graham,Washington,West,Jerry Collins,2016-12-31 00:00:00,Motorola Droid Maxx,10,16.32,163.20

To see the last five rows in the dataframe.

In [10]:
df.tail()

,Sales Representative,Location,Region,Customer,Order Date,Product,Quantity,Price,Total Sale Amount
5679,Sara Snyder,Massachusetts,East,Andrew Howard,2016-12-31 00:00:00,Xerox 1889,1,12.42,12.42
5680,Randy Watson,Massachusetts,East,Shirley Rivera,2016-12-31 00:00:00,Avery Heavy-Duty EZD View Binder with Locking ...,2,53.35,106.70
5681,Diane Gonzalez,Washington,West,Ruby Gonzales,2016-12-31 00:00:00,Xerox 232,3,12.42,37.26
5682,Sara Snyder,New York,East,Eric Stanley,2016-12-31 00:00:00,Xerox 1990,10,53.35,533.50
5683,Patrick Graham,Washington,West,Jerry Collins,2016-12-31 00:00:00,Motorola Droid Maxx,10,16.32,163.20

To see the last 3 rows in the dataframe.

In [11]:
df.tail(n=3)

,Sales Representative,Location,Region,Customer,Order Date,Product,Quantity,Price,Total Sale Amount
5681,Diane Gonzalez,Washington,West,Ruby Gonzales,2016-12-31 00:00:00,Xerox 232,3,12.42,37.26
5682,Sara Snyder,New York,East,Eric Stanley,2016-12-31 00:00:00,Xerox 1990,10,53.35,533.50
5683,Patrick Graham,Washington,West,Jerry Collins,2016-12-31 00:00:00,Motorola Droid Maxx,10,16.32,163.20

Retrieving values only in the "Location" column.

In [38]:
df['Location']

0       Massachusetts
1            New York
2          Washington
3          New Jersey
4          New Jersey
            ...
5679    Massachusetts
5680    Massachusetts
5681       Washington
5682         New York
5683       Washington
Name: Location, Length: 5684, dtype: object

Revealing only unique values inside the "Location" column.

In [12]:
df['Location'].unique()

array(['Massachusetts', 'New York', 'Washington', 'New Jersey', 'Oregon',
       'California', 'Connecticut', 'Nevada'], dtype=object)

How can the unique states inside the "Location" column be printed <br>
out line by line where each unique state is on its own line?

In [13]:
for state in df['Location'].unique():
    print(state)

Massachusetts
New York
Washington
New Jersey
Oregon
California
Connecticut
Nevada

XlsxWriter is a Python module for writing files in the Excel file format.

In [17]:
pip install XlsxWriter

Collecting XlsxWriter
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-3.2.0
Note: you may need to restart the kernel to use updated packages.

To create a new excel spreadsheet:

In [39]:
'''
ExcelWriter is a class in the Pandas library that allows you to write
DataFrame objects to an Excel file.

The first argument is the name of the excel spreadsheet being created.
"engine" is the engine that will be used for writing. It is an optional
parameter, so it has a default value if not assigned a value.
'''
writer = pd.ExcelWriter('Splitted Raw Data.xlsx', engine = 'xlsxwriter')

for state in df['Location'].unique():
    print(f"df[\'Location\'] == state:\n{df['Location'] == state} \
        \n\ndf[df[\'Location\'] == state]:\n{df[df['Location'] == state]}")

    # Retrieve all of the rows in the pandas dataframe called "df"
    # where the value in the "Location" column is equal to state.
    new_df = df.loc[df['Location'] == state]

    # The "sheet_name" parameter is assigned the name of sheet which
    # will contain DataFrame which is "state" on this case.

    # "index" is set to false because indexes don't need to be written
    # for the rows.
    new_df.to_excel(excel_writer = writer, sheet_name = state, index = False)

# Call close() to save and close any opened file handles.
writer.close()

df['Location'] == state:
0        True
1       False
2       False
3       False
4       False
        ...
5679     True
5680     True
5681    False
5682    False
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative       Location Region         Customer  \
0             Sara Snyder  Massachusetts   East    Raymond Young
10           Randy Watson  Massachusetts   East      Kathryn Fox
12            Sara Snyder  Massachusetts   East   Walter Kennedy
18            Sara Snyder  Massachusetts   East        Lori Shaw
20           Randy Watson  Massachusetts   East      Roger Gomez
...                   ...            ...    ...              ...
5662          Sara Snyder  Massachusetts   East    Lillian Burke
5667          Sara Snyder  Massachusetts   East  Thomas Robinson
5678          Sara Snyder  Massachusetts   East       Rose Baker
5679          Sara Snyder  Massachusetts   East    Andrew Howard
5680         Randy Watson  Massachusetts   East   Shirley Rivera

               Order Date                                            Product  \
0     2016-01-01 00:00:00  Bravo II Megaboss 12-Amp Hard Body Upright, Re...
10    2016-01-02 00:00:00           Chromcraft Rectangular Conference Tables
12    2016-01-02 00:00:00                                         Xerox 1967
18    2016-01-02 00:00:00                                         Newell 341
20    2016-01-02 00:00:00        Wilson Jones Hanging View Binder, White, 1"
...                   ...                                                ...
5662  2016-12-31 00:00:00          Sensible Storage WireTech Storage Systems
5667  2016-12-31 00:00:00                                          Avery 486
5678  2016-12-31 00:00:00                                            Staples
5679  2016-12-31 00:00:00                                         Xerox 1889
5680  2016-12-31 00:00:00  Avery Heavy-Duty EZD View Binder with Locking ...

      Quantity  Price  Total Sale Amount
0            6  12.42              74.52
10           9  12.42             111.78
12           1  12.42              12.42
18           7  16.32             114.24
20           7  16.32             114.24
...        ...    ...                ...
5662         3  16.32              48.96
5667         3  12.42              37.26
5678         8  16.32             130.56
5679         1  12.42              12.42
5680         2  53.35             106.70

[1207 rows x 9 columns]
df['Location'] == state:
0       False
1        True
2       False
3       False
4       False
        ...
5679    False
5680    False
5681    False
5682     True
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative  Location Region            Customer  \
1             Sara Snyder  New York   East          Helen Dean
6             Sara Snyder  New York   East    Christina Little
8            Randy Watson  New York   East       Ruby Matthews
9             Sara Snyder  New York   East  Christopher Oliver
14            Sara Snyder  New York   East       Gloria Harper
...                   ...       ...    ...                 ...
5668          Sara Snyder  New York   East         Louis Mason
5671          Sara Snyder  New York   East        Jerry Pierce
5673          Sara Snyder  New York   East      Tammy Ferguson
5675       Frances Warren  New York   East  Christopher Oliver
5682          Sara Snyder  New York   East        Eric Stanley

               Order Date                                            Product  \
1     2016-01-01 00:00:00  Hon Deluxe Fabric Upholstered Stacking Chairs,...
6     2016-01-01 00:00:00                                         Newell 322
8     2016-01-02 00:00:00  DXL Angle-View Binders with Locking Rings by S...
9     2016-01-02 00:00:00                   Belkin F5C206VTEL 6 Outlet Surge
14    2016-01-02 00:00:00  Holmes Replacement Filter for HEPA Air Cleaner...
...                   ...                                                ...
5668  2016-12-31 00:00:00  Wilson Jones Turn Tabs Binder Tool for Ring Bi...
5671  2016-12-31 00:00:00  Dexim XPower Skin Super-Thin Power Case for iP...
5673  2016-12-31 00:00:00                                         Xerox 1972
5675  2016-12-31 00:00:00  I Need's 3d Hello Kitty Hybrid Silicone Case C...
5682  2016-12-31 00:00:00                                         Xerox 1990

      Quantity  Price  Total Sale Amount
1            7  12.42              86.94
6            6  53.35             320.10
8            6  17.83             106.98
9            8  12.42              99.36
14           8  16.32             130.56
...        ...    ...                ...
5668         8  53.35             426.80
5671         3  16.32              48.96
5673         5  53.35             266.75
5675        10  12.42             124.20
5682        10  53.35             533.50

[1295 rows x 9 columns]
df['Location'] == state:
0       False
1       False
2        True
3       False
4       False
        ...
5679    False
5680    False
5681     True
5682    False
5683     True
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative    Location Region          Customer  \
2          Diane Gonzalez  Washington   West    Shirley Chavez
5          Patrick Graham  Washington   West     Annie Jenkins
7          Patrick Graham  Washington   West               NaN
13         Patrick Graham  Washington   West  Pamela Alexander
16         Patrick Graham  Washington   West      Judy Sanchez
...                   ...         ...    ...               ...
5665       Patrick Graham  Washington   West      Daniel Perez
5666       Patrick Graham  Washington   West      Daniel Perez
5674       Patrick Graham  Washington   West      Arthur Green
5681       Diane Gonzalez  Washington   West     Ruby Gonzales
5683       Patrick Graham  Washington   West     Jerry Collins

               Order Date                                            Product  \
2     2016-01-01 00:00:00  Acme Hot Forged Carbon Steel Scissors with Nic...
5     2016-01-01 00:00:00  Eldon Expressions Wood and Plastic Desk Access...
7     2016-01-01 00:00:00                     Mitel 5320 IP Phone VoIP phone
13    2016-01-02 00:00:00        Fellowes PB200 Plastic Comb Binding Machine
16    2016-01-02 00:00:00  Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x...
...                   ...                                                ...
5665  2016-12-31 00:00:00                       Safco Steel Mobile File Cart
5666  2016-12-31 00:00:00                   Fellowes Mobile File Cart, Black
5674  2016-12-31 00:00:00                                          Xerox 218
5681  2016-12-31 00:00:00                                          Xerox 232
5683  2016-12-31 00:00:00                                Motorola Droid Maxx

      Quantity  Price  Total Sale Amount
2            2  16.32              32.64
5            6  53.35             320.10
7            9  16.32             146.88
13           4  12.42              49.68
16           7  53.35             373.45
...        ...    ...                ...
5665         2  53.35             106.70
5666         9  53.35             480.15
5674         3  12.42              37.26
5681         3  12.42              37.26
5683        10  16.32             163.20

[813 rows x 9 columns]
df['Location'] == state:
0       False
1       False
2       False
3        True
4        True
        ...
5679    False
5680    False
5681    False
5682    False
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative    Location Region          Customer  \
3             Sara Snyder  New Jersey   East        Brian Ryan
4             Sara Snyder  New Jersey   East   Benjamin Willis
21            Sara Snyder  New Jersey   East  Kimberly Coleman
32           Randy Watson  New Jersey   East      Randy Willis
38           Randy Watson  New Jersey   East       Victor Bell
...                   ...         ...    ...               ...
5633       Frances Warren  New Jersey   East  Phyllis Gonzales
5653          Sara Snyder  New Jersey   East     Melissa Price
5669          Sara Snyder  New Jersey   East     Frank Spencer
5670       Frances Warren  New Jersey   East      Martha Mills
5677       Frances Warren  New Jersey   East   Denise Mitchell

               Order Date                                            Product  \
3     2016-01-01 00:00:00      Bretford CR4500 Series Slim Rectangular Table
4     2016-01-01 00:00:00                     Eldon Fold 'N Roll Cart System
21    2016-01-02 00:00:00                                         Newell 318
32    2016-01-03 00:00:00  Acco Pressboard Covers with Storage Hooks, 14 ...
38    2016-01-03 00:00:00  Atlantic Metals Mobile 3-Shelf Bookcases, Cust...
...                   ...                                                ...
5633  2016-12-30 00:00:00                                 3-ring staple pack
5653  2016-12-30 00:00:00                                         Newell 343
5669  2016-12-31 00:00:00    Logitech G35 7.1-Channel Surround Sound Headset
5670  2016-12-31 00:00:00                    Luxo Adjustable Task Clamp Lamp
5677  2016-12-31 00:00:00           Tenex Chairmats For Use with Hard Floors

      Quantity  Price  Total Sale Amount
3            1  12.42              12.42
4            3  17.83              53.49
21           1  17.83              17.83
32           3  17.83              53.49
38           3  16.32              48.96
...        ...    ...                ...
5633         1  12.42              12.42
5653         9  12.42             111.78
5669         1  12.42              12.42
5670         1  16.32              16.32
5677         1  53.35              53.35

[761 rows x 9 columns]
df['Location'] == state:
0       False
1       False
2       False
3       False
4       False
        ...
5679    False
5680    False
5681    False
5682    False
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative Location Region          Customer  \
11         Patrick Graham   Oregon   West               NaN
23         Patrick Graham   Oregon   West     Rachel Harris
29         Diane Gonzalez   Oregon   West  Raymond Matthews
49         Diane Gonzalez   Oregon   West      Michael Cruz
53         Patrick Graham   Oregon   West               NaN
...                   ...      ...    ...               ...
5643       Diane Gonzalez   Oregon   West     Edward Taylor
5648       Patrick Graham   Oregon   West       Billy Scott
5654       Patrick Graham   Oregon   West       Gary Moreno
5659       Patrick Graham   Oregon   West       Joyce Myers
5676       Patrick Graham   Oregon   West       Ruby Taylor

               Order Date                                            Product  \
11    2016-01-02 00:00:00                                                NaN
23    2016-01-03 00:00:00                 Global Deluxe Stacking Chair, Gray
29    2016-01-03 00:00:00  Howard Miller 13-3/4" Diameter Brushed Chrome ...
49    2016-01-04 00:00:00  C-Line Peel & Stick Add-On Filing Pockets, 8-3...
53    2016-01-04 00:00:00                                 Advantus Push Pins
...                   ...                                                ...
5643  2016-12-30 00:00:00       Wausau Papers Astrobrights Colored Envelopes
5648  2016-12-30 00:00:00                                          Xerox 221
5654  2016-12-31 00:00:00                       Vinyl Sectional Post Binders
5659  2016-12-31 00:00:00                   Avery White Multi-Purpose Labels
5676  2016-12-31 00:00:00                  Imation 30456 USB Flash Drive 8GB

      Quantity  Price  Total Sale Amount
11           4  12.42              49.68
23           2  12.42              24.84
29           1  12.42              12.42
49           2  17.83              35.66
53           3  17.83              53.49
...        ...    ...                ...
5643         5  17.83              89.15
5648         7  53.35             373.45
5654         7  12.42              86.94
5659         3  16.32              48.96
5676         7  12.42              86.94

[564 rows x 9 columns]
df['Location'] == state:
0       False
1       False
2       False
3       False
4       False
        ...
5679    False
5680    False
5681    False
5682    False
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative    Location Region           Customer  \
27         Patrick Graham  California   West      Joan Robinson
30         Diane Gonzalez  California   West          Mary Rose
35         Patrick Graham  California   West     Evelyn Elliott
43         Patrick Graham  California   West       Andrew Adams
52         Diane Gonzalez  California   West  Jacqueline Little
...                   ...         ...    ...                ...
5584       Diane Gonzalez  California   West      Joan Robinson
5594       Patrick Graham  California   West         Helen Diaz
5600       Diane Gonzalez  California   West      Kenneth James
5613       Patrick Graham  California   West         Helen Diaz
5672       Patrick Graham  California   West  Andrea Washington

               Order Date                                            Product  \
27    2016-01-03 00:00:00  Riverside Palais Royal Lawyers Bookcase, Royal...
30    2016-01-03 00:00:00                          Poly String Tie Envelopes
35    2016-01-03 00:00:00                                        GE 30524EE4
43    2016-01-04 00:00:00  Advantus 10-Drawer Portable Organizer, Chrome ...
52    2016-01-04 00:00:00                   Global Leather Task Chair, Black
...                   ...                                                ...
5584  2016-12-28 00:00:00                  Iris 3-Drawer Stacking Bin, Black
5594  2016-12-29 00:00:00                               Panasonic KX-TG9471B
5600  2016-12-29 00:00:00            Convenience Packs of Business Envelopes
5613  2016-12-29 00:00:00             Belkin 19" Center-Weighted Shelf, Gray
5672  2016-12-31 00:00:00                 #6 3/4 Gummed Flap White Envelopes

      Quantity  Price  Total Sale Amount
27           2  12.42              24.84
30          10  17.83             178.30
35           3  53.35             160.05
43           1  17.83              17.83
52           5  12.42              62.10
...        ...    ...                ...
5584         1  12.42              12.42
5594         7  53.35             373.45
5600         5  53.35             266.75
5613        10  17.83             178.30
5672         4  53.35             213.40

[567 rows x 9 columns]
df['Location'] == state:
0       False
1       False
2       False
3       False
4       False
        ...
5679    False
5680    False
5681    False
5682    False
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative     Location Region           Customer  \
44         Frances Warren  Connecticut   East   Cheryl Henderson
45            Sara Snyder  Connecticut   East    Carlos Stephens
55            Sara Snyder  Connecticut   East                NaN
56            Sara Snyder  Connecticut   East                NaN
111           Sara Snyder  Connecticut   East       Sara Hawkins
...                   ...          ...    ...                ...
5601         Randy Watson  Connecticut   East  Katherine Carroll
5602          Sara Snyder  Connecticut   East      Marilyn Perry
5605          Sara Snyder  Connecticut   East   Cheryl Henderson
5610          Sara Snyder  Connecticut   East    Debra Gutierrez
5663          Sara Snyder  Connecticut   East      Anna Franklin

               Order Date                                            Product  \
44    2016-01-04 00:00:00  Verbatim 25 GB 6x Blu-ray Single Layer Recorda...
45    2016-01-04 00:00:00  Wilson Jones Leather-Like Binders with DublLoc...
55    2016-01-04 00:00:00                    Home/Office Personal File Carts
56    2016-01-05 00:00:00                                          Xerox 232
111   2016-01-09 00:00:00    Hunt PowerHouse Electric Pencil Sharpener, Blue
...                   ...                                                ...
5601  2016-12-29 00:00:00                      Logitech G105 Gaming Keyboard
5602  2016-12-29 00:00:00                       Portfile Personal File Boxes
5605  2016-12-29 00:00:00                               Dana Swing-Arm Lamps
5610  2016-12-29 00:00:00  SanDisk Ultra 32 GB MicroSDHC Class 10 Memory ...
5663  2016-12-31 00:00:00  Boston 16765 Mini Stand Up Battery Pencil Shar...

      Quantity  Price  Total Sale Amount
44           7  12.42              86.94
45           1  12.42              12.42
55           7  53.35             373.45
56           2  16.32              32.64
111          8  16.32             130.56
...        ...    ...                ...
5601        10  12.42             124.20
5602         2  12.42              24.84
5605         4  12.42              49.68
5610         9  12.42             111.78
5663         2  12.42              24.84

[335 rows x 9 columns]
df['Location'] == state:
0       False
1       False
2       False
3       False
4       False
        ...
5679    False
5680    False
5681    False
5682    False
5683    False
Name: Location, Length: 5684, dtype: bool

df[df['Location'] == state]:
     Sales Representative Location Region          Customer  \
104        Patrick Graham   Nevada   West        Doris Diaz
125        Diane Gonzalez   Nevada   West      John Simpson
138        Diane Gonzalez   Nevada   West    Donna Williams
269        Patrick Graham   Nevada   West        Doris Diaz
366        Diane Gonzalez   Nevada   West  Kimberly Bennett
...                   ...      ...    ...               ...
5503       Patrick Graham   Nevada   West    Laura Mcdonald
5526       Patrick Graham   Nevada   West    Sarah Harrison
5546       Diane Gonzalez   Nevada   West       Craig Lewis
5553       Patrick Graham   Nevada   West       Craig Lewis
5637       Diane Gonzalez   Nevada   West  Kimberly Bennett

               Order Date                                            Product  \
104   2016-01-09 00:00:00  Deflect-o DuraMat Lighweight, Studded, Beveled...
125   2016-01-11 00:00:00                    Bevis 44 x 96 Conference Tables
138   2016-01-12 00:00:00                          Fiskars Softgrip Scissors
269   2016-01-21 00:00:00  Recycled Interoffice Envelopes with String and...
366   2016-01-28 00:00:00  Wilson Jones “Snap” Scratch Pad Binder Tool fo...
...                   ...                                                ...
5503  2016-12-25 00:00:00  Black & Decker Filter for Double Action Dustbu...
5526  2016-12-26 00:00:00                                  Colored Push Pins
5546  2016-12-27 00:00:00        DAX Copper Panel Document Frame, 5 x 7 Size
5553  2016-12-27 00:00:00                                          Xerox 216
5637  2016-12-30 00:00:00                Career Cubicle Clock, 8 1/4", Black

      Quantity  Price  Total Sale Amount
104          4  17.83              71.32
125          5  16.32              81.60
138          8  12.42              99.36
269          2  53.35             106.70
366          9  17.83             160.47
...        ...    ...                ...
5503         4  12.42              49.68
5526         9  16.32             146.88
5546         4  16.32              65.28
5553         3  53.35             160.05
5637         5  53.35             266.75

[142 rows x 9 columns]

Documentation for pandas.ExcelWriter:

https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html